<!DOCTYPE html>
<html th:replace="~{layout/common :: layout(~{::title},~{::div},~{::script})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>email-verification</title>
</head>
<body>
<div>
    <div th:replace="layout/fragments.html :: study-banner"></div>

    <div class="container">
        <div th:replace="layout/fragments.html::event-form (mode='new', action='/study/' + ${study.path} + '/new-event/')"></div>
    </div>
</div>
<script th:replace="layout/fragments.html :: form-validation"></script>
<script th:replace="layout/fragments.html :: editor-script"></script>
</script>
</body>
</html>