<!DOCTYPE html>
<html th:replace="~{layout/common :: layout(~{::title},~{::div},~{::script})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>

</head>
<body class="bg-light">


<!--content-->

<div class="container">
    <div class="py-5 text-center">
        <h2>계정 생성</h2>
    </div>
    <div class="row justify-content-center">
        <form class="needs-validation col-sm-6" action="#"
              th:action="@{/sign-up}" th:object="${signUpForm}" method="post" novalidate>
            <div class="form-group">
                <label for="nickname">닉네임</label>
                <input id="nickname" type="text" th:field="*{nickname}" class="form-control"
                       placeholder="ex) jaime" aria-describedby="nicknameHelp" required minlength="3" maxlength="20">
                <small id="nicknameHelp" class="form-text text-muted">
                    공백없이 문자와 숫자로만 3자 이상 20자 이내로 입력하세요. 가입후에 변경할 수 있습니다.
                </small>
                <small class="invalid-feedback">닉네임을 입력하세요.</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}">Nickname
                    Error</small>
            </div>
            <div class="form-group">
                <label for="phone">휴대폰 번호</label>
                <div class="input-group mb-3">
                    <input id="phone" type="text" th:field="*{phone}" class="form-control"
                           placeholder="ex)010-1234-1234" aria-describedby="phoneHelp" required minlength="3"
                           maxlength="20">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="smsCheck()">Button</button>
                </div>
                <small id="phoneHelp" class="form-text text-muted">
                    '-' 포함하여 휴대폰 번호를 입력해 주세요.
                </small>
                <small class="invalid-feedback">닉네임을 입력하세요.</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}">Nickname
                    Error</small>
            </div>

            <div class="form-group">
                <label for="check">인증번호</label>
                <div class="input-group mb-3">
                    <input id="check" type="text" th:field="*{phone}" class="form-control"
                           placeholder="인증번호를 입력해 주세요" aria-describedby="phoneHelp" required minlength="3"
                           maxlength="20">
                    <button class="btn btn-outline-secondary" type="button" id="button-smsCheck" onclick="checkNumber()">Button</button>
                </div>
                <small id="checkText" class="form-text text-muted">
                    인증번호를 입려하세요.
                </small>
                <small class="invalid-feedback">닉네임을 입력하세요.</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}">Nickname
                    Error</small>
            </div>

            <div class="form-group">
                <label for="email">이메일</label>
                <input id="email" type="email" th:field="*{email}" class="form-control"
                       placeholder="ex) abc@example.com" aria-describedby="emailHelp" required>
                <small id="emailHelp" class="form-text text-muted">
                    Webluxible은 사용자의 이메일을 공개하지 않습니다.
                </small>
                <small class="invalid-feedback">이메일을 입력하세요.</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email
                    Error</small>
            </div>

            <div class="form-group">
                <label for="password">패스워드</label>
                <input id="password" type="password" th:field="*{password}" class="form-control"
                       aria-describedby="passwordHelp" required minlength="8" maxlength="50">
                <small id="passwordHelp" class="form-text text-muted">
                    8자 이상 50자 이내로 입력하세요. 영문자, 숫자, 특수기호를 사용할 수 있으며 공백은 사용할 수 없습니다.
                </small>
                <small class="invalid-feedback">패스워드를 입력하세요.</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password
                    Error</small>
            </div>

            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit"
                        aria-describedby="submitHelp">가입하기
                </button>
                <small id="submitHelp" class="form-text text-muted">
                    <a href="#">약관</a>에 동의하시면 가입하기 버튼을 클릭하세요.
                </small>
            </div>
        </form>
    </div>


</div>


<script type="application/javascript">
    let checkNum = '';
    (function () {
        'use strict';

        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.getElementsByClassName('needs-validation');

            // Loop over them and prevent submission
            Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated')
                }, false)
            })
        }, false)
    }())


    const smsCheck = () => {
        const phone = document.getElementById('phone').value;
        console.log(phone)
        fetch("http://localhost:8080/sign-up/sendSMS",{
            method:'post',
            headers : {
                "Content-Type": "application/json",
            },
            body : JSON.stringify({phone})
        }).then((resp) => resp.json())
        .then(res => {
            checkNum = res;
            console.log(res)

        })
    }

    const checkNumber = () =>{
        const inputNum = document.getElementById('check').value;
        console.log(`inputNum${typeof inputNum}. ${typeof checkNum}`);
        if(JSON.stringify(checkNum) === JSON.stringify(inputNum)){
            console.log('인증되었습니다.');
        }else{
            console.log('인증에 실패 했습니다.')}
    }
</script>
</body>
</html>